In [1]:
import pandas as pd
import numpy as np
from datetime import date
from warnings import simplefilter

# ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)

In [2]:
train = pd.read_csv('Assignment3_TrainingSet.csv')
test = pd.read_csv('Assignment3_TestSet.csv')

## Data cleaning
df_train = train.copy()
df_test = test.copy()

df_train['source'] = 'train'
df_test['source'] = 'test'
df = pd.concat([df_train, df_test], ignore_index=True)

In [3]:
cols = df.columns
print (cols)

df.info()

Index(['Coverage_info1', 'Coverage_info2', 'Coverage_info3', 'Field_info1',
       'Field_info2', 'Field_info3', 'Field_info4', 'Geographic_info1',
       'Geographic_info2', 'Geographic_info3', 'Geographic_info4',
       'Geographic_info5', 'Original_Quote_Date', 'Personal_info1',
       'Personal_info2', 'Personal_info3', 'Personal_info4', 'Personal_info5',
       'Property_info1', 'Property_info2', 'Property_info3', 'Property_info4',
       'Property_info5', 'QuoteConversion_Flag', 'Quote_ID', 'Sales_info1',
       'Sales_info2', 'Sales_info3', 'Sales_info4', 'Sales_info5', 'source'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104301 entries, 0 to 104300
Data columns (total 31 columns):
Coverage_info1          104301 non-null int64
Coverage_info2          104301 non-null int64
Coverage_info3          104301 non-null object
Field_info1             104301 non-null object
Field_info2             104301 non-null float64
Field_info3             104301 non-null object
Field_info4             104301 non-null object
Geographic_info1        104301 non-null int64
Geographic_info2        104301 non-null int64
Geographic_info3        104301 non-null int64
Geographic_info4        104301 non-null object
Geographic_info5        104301 non-null object
Original_Quote_Date     104301 non-null object
Personal_info1          104255 non-null object
Personal_info2          104301 non-null int64
Personal_info3          104301 non-null object
Personal_info4          104301 non-null int64
Personal_info5          54789 non-null float64
Property_info1          104270 non-null object
Property_info2          104301 non-null int64
Property_info3          104301 non-null object
Property_info4          104301 non-null int64
Property_info5          104301 non-null int64
QuoteConversion_Flag    78225 non-null float64
Quote_ID                104301 non-null int64
Sales_info1             104301 non-null int64
Sales_info2             104301 non-null int64
Sales_info3             104301 non-null int64
Sales_info4             104301 non-null object
Sales_info5             104301 non-null int64
source                  104301 non-null object
dtypes: float64(3), int64(15), object(13)
memory usage: 24.7+ MB

In [4]:
for columns in df.columns.values.tolist():
    print("\n" + columns)
    print(df[columns].unique())
    print(len(df[columns].unique()))

Coverage_info1
[ 5  8  6 10 17 11  4 16 14 25  9 12  3 13  1  7  2 18 15 23 20 22 24 19
 -1 21]
26

Coverage_info2
[22 25  2  1]
4

Coverage_info3
['F' 'E' 'D' 'G' 'H' 'J' 'A' 'K' 'I' 'B' 'C' 'L']
12

Field_info1
['J' 'F' 'B' 'K' 'C' 'E' 'D' 'A']
8

Field_info2
[0.9691 1.0006 0.9153 0.8928 0.9566 0.8922 0.9838 0.887  0.9403 0.9497
 0.893  0.9313 0.9919 0.9258 1.0101 0.9769 0.8793 0.9364 0.9392 0.9893
 1.0005 0.9525 0.9023 0.9485 0.9219 0.8746 0.9368 0.9472 0.9487 0.9375
 0.9223 0.9108 0.8945 0.9685 0.9482 0.9559 0.9194 0.9489]
38

Field_info3
['1,165' '548' '935' '1,113' '965' '1,487' '564' '1,480']
8

Field_info4
['N' 'Y']
2

Geographic_info1
[ 3  4  2 12  1  9 14 15  5 13 11 24 25 10 23 17 20 22 18 19  8  6 21  7
 -1 16]
26

Geographic_info2
[ 5 17  8 10  4 19  7 20 12  9  6 24 16 13 18 21 14 22 25 23 11 15 -1]
23

Geographic_info3
[-1 25]
2

Geographic_info4
['N' 'Y' ' ']
3

Geographic_info5
['TX' 'NJ' 'CA' 'IL']
4

Original_Quote_Date
['9/07/2013' '29/05/2014' '13/05/2015' '2/09/2014' '9/04/2015'
 '28/10/2014' '12/03/2014' '16/01/2014' '23/03/2014' '2/01/2014'
 '3/04/2014' '21/05/2014' '28/01/2015' '23/04/2013' '14/10/2013'
 '18/12/2014' '2/03/2015' '23/05/2013' '4/02/2014' '3/10/2013'
 '13/11/2014' '16/10/2013' '10/11/2014' '14/11/2014' '29/06/2013'
 '11/04/2013' '4/11/2013' '21/04/2015' '25/05/2014' '18/03/2013'
 '27/01/2015' '14/07/2014' '30/10/2014' '18/07/2013' '21/04/2014'
 '18/08/2014' '2/04/2015' '24/02/2015' '21/01/2015' '28/07/2014'
 '1/09/2014' '3/11/2014' '9/04/2013' '10/03/2014' '11/11/2014'
 '29/07/2014' '1/12/2014' '30/12/2014' '23/04/2015' '18/04/2015'
 '22/05/2014' '4/01/2014' '22/01/2015' '5/04/2013' '16/02/2013'
 '26/08/2013' '13/08/2014' '31/01/2014' '11/02/2015' '5/05/2014'
 '22/12/2014' '10/04/2015' '16/08/2014' '6/05/2015' '22/07/2014'
 '25/04/2015' '7/02/2013' '4/09/2014' '10/01/2014' '14/05/2015'
 '8/05/2013' '25/09/2013' '28/06/2013' '19/03/2015' '14/05/2013'
 '9/01/2013' '16/04/2015' '27/03/2015' '30/09/2013' '24/06/2013'
 '10/04/2013' '16/08/2013' '26/03/2014' '8/02/2013' '20/04/2015'
 '13/06/2013' '25/04/2013' '7/06/2014' '10/09/2013' '21/08/2014'
 '9/02/2015' '5/12/2013' '26/11/2014' '26/09/2014' '9/09/2014'
 '20/09/2014' '7/03/2014' '15/04/2014' '2/10/2014' '2/07/2014' '9/08/2013'
 '27/03/2013' '27/02/2014' '12/09/2014' '5/01/2013' '29/08/2013'
 '7/06/2013' '26/06/2014' '16/06/2014' '23/06/2013' '20/10/2014'
 '4/02/2015' '18/01/2013' '15/10/2013' '5/04/2014' '5/02/2014' '7/05/2014'
 '12/04/2013' '23/11/2013' '15/07/2014' '15/03/2013' '7/04/2015'
 '17/09/2013' '24/11/2013' '21/01/2014' '9/06/2014' '2/12/2014'
 '20/05/2013' '2/06/2014' '15/11/2014' '11/07/2014' '6/09/2014'
 '30/07/2013' '21/07/2013' '22/10/2014' '2/12/2013' '21/08/2013'
 '2/01/2013' '6/02/2013' '18/04/2014' '22/05/2013' '11/12/2013'
 '7/08/2014' '5/05/2015' '4/03/2015' '19/11/2014' '21/03/2014'
 '21/10/2013' '28/04/2014' '23/11/2014' '26/01/2013' '13/01/2014'
 '10/03/2015' '3/02/2014' '23/10/2013' '11/04/2014' '18/10/2013'
 '16/12/2014' '14/04/2015' '21/03/2015' '2/04/2014' '11/05/2014'
 '29/03/2014' '23/02/2015' '1/04/2013' '16/10/2014' '4/09/2013'
 '23/06/2014' '29/12/2014' '4/05/2015' '9/05/2014' '18/05/2015'
 '5/03/2013' '20/03/2014' '7/07/2014' '29/10/2013' '13/02/2013'
 '4/10/2013' '10/06/2014' '7/01/2014' '3/07/2014' '15/01/2015'
 '22/09/2014' '8/05/2014' '21/07/2014' '10/06/2013' '27/09/2013'
 '1/05/2014' '18/03/2014' '10/10/2014' '15/11/2013' '6/03/2014'
 '18/02/2014' '23/03/2015' '2/10/2013' '15/01/2014' '10/04/2014'
 '21/06/2013' '23/02/2014' '28/02/2013' '18/09/2014' '5/06/2014'
 '2/09/2013' '19/03/2014' '26/11/2013' '2/08/2013' '26/04/2014'
 '7/08/2013' '13/09/2013' '2/07/2013' '27/07/2013' '19/07/2013'
 '8/04/2014' '14/03/2015' '18/11/2014' '8/02/2015' '22/04/2015'
 '9/01/2014' '18/11/2013' '30/05/2013' '10/07/2014' '16/09/2014'
 '21/06/2014' '18/02/2013' '23/07/2014' '24/06/2014' '6/06/2013'
 '6/07/2013' '6/08/2014' '23/07/2013' '23/01/2015' '22/10/2013'
 '2/08/2014' '8/06/2013' '30/01/2015' '29/01/2014' '28/07/2013'
 '6/11/2014' '5/11/2014' '11/05/2013' '1/07/2013' '12/08/2013'
 '29/04/2015' '11/10/2013' '27/05/2013' '24/12/2014' '23/01/2013'
 '12/12/2014' '7/02/2014' '25/07/2013' '17/04/2015' '29/09/2014'
 '28/05/2013' '11/06/2013' '17/12/2014' '26/06/2013' '31/10/2014'
 '19/08/2013' '10/07/2013' '17/11/2014' '19/03/2013' '11/09/2013'
 '5/08/2014' '16/09/2013' '3/07/2013' '26/02/2014' '17/03/2015'
 '6/02/2014' '8/01/2015' '1/02/2013' '9/10/2013' '31/03/2014' '26/10/2014'
 '5/08/2013' '4/10/2014' '7/01/2015' '19/07/2014' '13/08/2013'
 '12/07/2013' '5/09/2013' '20/08/2014' '2/02/2015' '18/01/2015'
 '24/04/2013' '23/04/2014' '16/12/2013' '15/09/2014' '15/08/2013'
 '7/05/2013' '1/03/2015' '6/08/2013' '13/02/2014' '2/04/2013' '8/07/2013'
 '14/10/2014' '19/06/2014' '13/05/2013' '30/06/2014' '8/04/2015'
 '5/03/2014' '11/09/2014' '8/01/2014' '6/05/2013' '29/04/2014'
 '20/11/2013' '9/12/2013' '3/06/2013' '3/05/2013' '27/12/2013'
 '25/02/2014' '21/11/2014' '25/06/2014' '15/04/2015' '1/04/2015'
 '18/04/2013' '9/07/2014' '10/01/2013' '18/06/2014' '25/08/2014'
 '12/02/2015' '1/03/2013' '15/10/2014' '17/05/2015' '19/05/2014'
 '30/05/2014' '15/05/2013' '2/03/2014' '1/08/2013' '15/06/2013'
 '6/10/2014' '4/04/2015' '13/07/2014' '4/04/2014' '31/05/2013'
 '15/09/2013' '12/05/2014' '5/02/2013' '16/05/2013' '26/12/2013'
 '26/08/2014' '14/05/2014' '25/07/2014' '8/07/2014' '3/08/2013'
 '4/07/2013' '12/12/2013' '13/05/2014' '19/09/2014' '19/10/2013'
 '5/04/2015' '25/03/2013' '20/03/2015' '22/04/2013' '20/05/2014'
 '14/11/2013' '12/03/2015' '12/02/2014' '14/09/2013' '26/09/2013'
 '17/08/2014' '21/02/2014' '18/03/2015' '30/08/2013' '18/09/2013'
 '20/01/2015' '30/10/2013' '19/04/2014' '14/08/2014' '21/04/2013'
 '11/02/2014' '7/10/2014' '28/09/2014' '28/04/2015' '25/01/2014'
 '30/03/2014' '29/10/2014' '14/01/2013' '27/08/2014' '7/05/2015'
 '20/10/2013' '3/09/2013' '19/02/2013' '5/01/2015' '22/11/2013'
 '15/05/2015' '6/03/2015' '19/12/2013' '15/01/2013' '14/12/2014'
 '31/03/2015' '24/11/2014' '12/01/2015' '24/08/2013' '17/02/2015'
 '9/04/2014' '28/03/2013' '12/03/2013' '4/11/2014' '13/09/2014'
 '17/04/2014' '8/01/2013' '5/03/2015' '15/02/2013' '8/08/2013'
 '17/10/2014' '18/01/2014' '3/02/2015' '15/05/2014' '27/06/2013'
 '11/11/2013' '5/12/2014' '18/02/2015' '28/05/2014' '9/12/2014'
 '26/05/2014' '10/05/2015' '6/04/2014' '1/04/2014' '27/04/2014'
 '6/01/2013' '21/02/2013' '12/05/2015' '12/06/2014' '20/02/2013'
 '25/08/2013' '27/06/2014' '29/07/2013' '29/03/2015' '23/01/2014'
 '23/12/2014' '17/06/2014' '30/03/2015' '23/09/2014' '18/12/2013'
 '2/01/2015' '7/04/2014' '24/03/2014' '19/01/2015' '14/01/2015'
 '22/08/2014' '5/11/2013' '14/04/2014' '3/01/2014' '1/07/2014' '8/09/2014'
 '7/09/2014' '14/08/2013' '16/01/2013' '16/04/2013' '1/05/2015'
 '20/09/2013' '8/10/2013' '3/01/2013' '17/01/2014' '9/01/2015'
 '30/01/2014' '25/10/2013' '24/01/2015' '4/06/2014' '2/06/2013'
 '3/06/2014' '8/04/2013' '27/02/2015' '9/05/2013' '31/05/2014'
 '31/07/2013' '2/02/2013' '21/09/2013' '31/07/2014' '19/06/2013'
 '21/12/2014' '31/12/2013' '24/09/2014' '20/06/2013' '1/02/2015'
 '3/03/2015' '15/12/2014' '23/05/2014' '16/03/2015' '30/04/2014'
 '8/11/2014' '27/05/2014' '26/07/2014' '14/06/2013' '18/05/2013'
 '25/03/2015' '28/01/2014' '15/02/2014' '1/06/2013' '30/09/2014'
 '4/02/2013' '13/11/2013' '15/02/2015' '17/07/2013' '24/09/2013'
 '30/11/2013' '16/02/2015' '24/08/2014' '11/03/2013' '6/01/2014'
 '11/02/2013' '22/03/2015' '30/06/2013' '1/01/2015' '11/08/2013'
 '21/01/2013' '30/04/2013' '24/02/2014' '14/03/2013' '19/02/2014'
 '11/03/2014' '6/09/2013' '3/09/2014' '4/01/2015' '22/12/2013'
 '13/06/2014' '8/03/2014' '16/05/2014' '1/01/2014' '13/12/2013'
 '24/03/2013' '15/04/2013' '25/02/2015' '10/02/2015' '7/03/2013'
 '29/11/2014' '30/07/2014' '23/03/2013' '24/10/2013' '23/08/2014'
 '13/10/2014' '14/07/2013' '16/05/2015' '18/06/2013' '31/12/2014'
 '27/08/2013' '24/03/2015' '7/11/2013' '14/02/2013' '25/11/2013'
 '28/12/2013' '7/10/2013' '22/01/2013' '6/01/2015' '13/04/2015'
 '27/07/2014' '26/01/2015' '24/04/2014' '20/12/2014' '18/07/2014'
 '3/08/2014' '17/01/2013' '4/08/2013' '19/08/2014' '16/04/2014'
 '13/12/2014' '16/01/2015' '24/04/2015' '29/08/2014' '3/05/2015'
 '8/03/2015' '26/02/2015' '4/12/2014' '21/05/2013' '26/01/2014'
 '26/02/2013' '25/12/2014' '30/12/2013' '30/04/2015' '31/08/2014'
 '1/11/2013' '21/10/2014' '5/07/2013' '10/05/2014' '8/08/2014'
 '16/07/2014' '16/07/2013' '10/05/2013' '19/10/2014' '28/02/2014'
 '12/02/2013' '31/01/2013' '6/12/2013' '17/03/2014' '2/11/2013'
 '28/10/2013' '24/05/2013' '22/06/2013' '9/03/2015' '12/06/2013'
 '31/01/2015' '6/11/2013' '28/03/2014' '20/06/2014' '7/03/2015'
 '10/09/2014' '27/10/2014' '11/10/2014' '2/05/2014' '10/08/2013'
 '19/09/2013' '28/08/2013' '21/09/2014' '27/03/2014' '6/04/2015'
 '20/02/2014' '13/03/2015' '3/12/2013' '25/03/2014' '8/12/2014'
 '31/10/2013' '20/11/2014' '30/01/2013' '6/10/2013' '20/08/2013'
 '25/04/2014' '1/08/2014' '23/09/2013' '24/07/2013' '26/03/2015'
 '4/03/2014' '23/12/2013' '28/12/2014' '14/03/2014' '7/11/2014'
 '27/02/2013' '22/08/2013' '3/03/2014' '28/06/2014' '5/06/2013'
 '4/05/2013' '16/03/2014' '7/09/2013' '12/09/2013' '12/01/2014'
 '3/12/2014' '17/02/2014' '19/11/2013' '9/02/2013' '21/03/2013'
 '25/09/2014' '5/05/2013' '9/11/2014' '12/05/2013' '6/05/2014'
 '22/02/2013' '21/11/2013' '11/01/2014' '3/01/2015' '22/03/2013'
 '3/10/2014' '25/05/2013' '6/12/2014' '23/10/2014' '9/03/2013'
 '15/07/2013' '7/04/2013' '24/07/2014' '3/02/2013' '13/07/2013'
 '10/12/2013' '22/02/2015' '13/01/2015' '29/09/2013' '25/11/2014'
 '23/02/2013' '14/02/2014' '11/01/2013' '11/03/2015' '4/08/2014'
 '17/04/2013' '9/09/2013' '2/05/2015' '23/08/2013' '26/07/2013'
 '19/04/2015' '22/01/2014' '22/09/2013' '22/02/2014' '8/06/2014'
 '20/04/2014' '26/03/2013' '5/01/2014' '11/12/2014' '25/01/2015'
 '26/04/2013' '27/04/2015' '24/10/2014' '6/03/2013' '20/01/2014'
 '4/05/2014' '10/01/2015' '28/04/2013' '13/03/2014' '10/10/2013'
 '4/12/2013' '20/02/2015' '26/12/2014' '10/12/2014' '1/06/2014'
 '11/08/2014' '11/06/2014' '17/12/2013' '9/03/2014' '12/11/2014'
 '28/08/2014' '8/05/2015' '1/03/2014' '28/02/2015' '16/02/2014'
 '14/01/2014' '17/02/2013' '26/10/2013' '8/09/2013' '5/10/2014'
 '9/10/2014' '2/02/2014' '22/07/2013' '26/04/2015' '17/05/2014'
 '9/08/2014' '11/01/2015' '4/03/2013' '9/02/2014' '22/03/2014'
 '17/06/2013' '5/10/2013' '29/01/2013' '6/06/2014' '4/01/2013' '4/07/2014'
 '24/01/2013' '12/07/2014' '25/01/2013' '16/11/2013' '6/04/2013'
 '13/01/2013' '24/01/2014' '3/11/2013' '3/05/2014' '19/02/2015'
 '5/07/2014' '11/05/2015' '13/03/2013' '24/05/2014' '3/03/2013'
 '25/06/2013' '30/08/2014' '17/09/2014' '28/11/2014' '15/06/2014'
 '11/07/2013' '6/07/2014' '13/04/2014' '3/04/2013' '15/03/2014'
 '8/03/2013' '25/02/2013' '13/02/2015' '15/03/2015' '13/04/2013'
 '20/04/2013' '14/04/2013' '2/03/2013' '17/08/2013' '22/06/2014'
 '6/02/2015' '29/03/2013' '21/02/2015' '5/02/2015' '3/04/2015' '4/06/2013'
 '14/12/2013' '10/02/2014' '12/04/2014' '17/01/2015' '17/07/2014'
 '14/09/2014' '10/11/2013' '28/01/2013' '1/10/2013' '1/10/2014'
 '17/10/2013' '29/04/2013' '27/01/2014' '27/11/2014' '1/02/2014'
 '2/05/2013' '12/10/2013' '8/10/2014' '11/04/2015' '30/11/2014'
 '19/05/2013' '29/01/2015' '15/08/2014' '19/12/2014' '25/12/2013'
 '24/02/2013' '18/10/2014' '8/12/2013' '1/05/2013' '28/03/2015'
 '12/11/2013' '22/04/2014' '1/12/2013' '7/12/2014' '29/05/2013'
 '20/07/2013' '27/04/2013' '9/06/2013' '17/03/2013' '27/12/2014'
 '25/10/2014' '12/04/2015' '26/05/2013' '31/08/2013' '5/09/2014'
 '18/08/2013' '8/11/2013' '12/08/2014' '27/10/2013' '20/12/2013'
 '16/11/2014' '4/04/2013' '1/09/2013' '19/01/2013' '10/03/2013'
 '12/10/2014' '8/02/2014' '10/02/2013' '20/07/2014' '30/03/2013'
 '16/03/2013' '9/05/2015' '17/11/2013' '27/09/2014' '24/12/2013'
 '17/05/2013' '31/03/2013' '18/05/2014' '1/11/2014' '20/03/2013'
 '7/07/2013' '10/08/2014' '19/04/2013' '22/11/2014' '9/11/2013'
 '13/10/2013' '29/06/2014' '7/02/2015' '27/01/2013' '29/12/2013'
 '14/06/2014' '2/11/2014' '12/01/2013' '14/02/2015' '7/01/2013'
 '27/11/2013' '28/09/2013' '19/01/2014' '7/12/2013' '21/12/2013'
 '29/11/2013' '20/01/2013' '1/01/2013' '16/06/2013' '28/11/2013'
 '15/12/2013']
868

Personal_info1
['N' 'Y' nan]
3

Personal_info2
[11 -1  1 21  7 15  4  6 13 20 24 17  5  3 14  9 12 22  8 19 10 23 16 25
 18  2]
26

Personal_info3
['ZA' 'XX' 'ZN' 'ZH' 'YH' 'YF' 'ZC' 'ZG' 'XE' 'XQ' 'XR' 'XH' 'XD' 'XZ'
 'XJ' 'ZT' 'XM' 'ZF' 'ZW' 'XB' 'XW' 'XS' 'XO' 'ZJ' 'YE' 'ZR' 'ZK' 'XK'
 'XL' 'ZE' 'XC' 'ZD' 'XI' 'YI' 'ZU' 'XP' 'XT' 'XY' 'ZV' 'ZB' 'XF' 'ZP']
42

Personal_info4
[0 3 1 2 6 4 7]
7

Personal_info5
[ 2. nan  1.  5.  3.  7.]
6

Property_info1
['N' 'Y' nan]
3

Property_info2
[0]
1

Property_info3
['S' 'R' 'O' 'Q' 'D' 'J' 'I' 'N' 'H' 'A' 'K' 'F' 'E' 'M' 'G' 'L' 'P' 'C'
 'B']
19

Property_info4
[0 1]
2

Property_info5
[ 7 16  3 24 22 13  1 10 11 23  5 19  4 12 14  6 18  9  8 21 25 20 15  2
 17 -1]
26

QuoteConversion_Flag
[ 0.  1. nan]
3

Quote_ID
[11405 21611 53649 ... 40427 61465 58463]
78225

Sales_info1
[1 0]
2

Sales_info2
[5 4 3 2 1]
5

Sales_info3
[ 1 11  7 20 15  4 24 17 23  3 22 21 14 16  5  8 10 18 12 13  9  6 19  2]
24

Sales_info4

['P' 'Q' 'T' 'K' 'M' 'R' 'V']
7

Sales_info5
[38880 10725 46425 ... 56484 26612 62976]
45889

source
['train' 'test']
2

In [5]:
for col in df.columns:
    gf = df.groupby(col)[col].count()
    print ('\n',col, gf)

 Coverage_info1 Coverage_info1
-1      143
 1     2781
 2     4080
 3     6338
 4     8690
 5     9372
 6     9758
 7     8850
 8     8389
 9     7040
 10    6087
 11    5546
 12    4236
 13    3803
 14    2970
 15    2602
 16    2077
 17    1805
 18    1582
 19    1313
 20    1156
 21     912
 22     876
 23     735
 24     581
 25    2579
Name: Coverage_info1, dtype: int64

 Coverage_info2 Coverage_info2
1       165
2      6010
22    84810
25    13316
Name: Coverage_info2, dtype: int64

 Coverage_info3 Coverage_info3
A     5582
B      443
C      221
D    19853
E    34135
F    12933
G    13043
H      228
I      252
J     6592
K    10900
L      119
Name: Coverage_info3, dtype: int64

 Field_info1 Field_info1
A       18
B    38065
C     2286
D      102
E    10470
F    27544
J    20557
K     5259
Name: Field_info1, dtype: int64

 Field_info2 Field_info2
0.8746      732
0.8793     1054
0.8870     7354
0.8922     4301
0.8928     5595
0.8930      487
0.8945      893
0.9023      817
0.9108     1976
0.9153    17706
0.9194      469
0.9219      972
0.9223      836
0.9258      514
0.9313     1907
0.9364      499
0.9368      864
0.9375      443
0.9392     2911
0.9403    19403
0.9472     1306
0.9482      738
0.9485      406
0.9487      787
0.9489      366
0.9497     1242
0.9525      772
0.9559     1153
0.9566     1244
0.9685     1007
0.9691     3300
0.9769     1305
0.9838     2126
0.9893      657
0.9919     6757
1.0005     1359
1.0006     7280
1.0101     2763
Name: Field_info2, dtype: int64

 Field_info3 Field_info3
1,113    17865
1,165     7953
1,480     4666
1,487     8090
548      15560
564      12086
935      20956
965      17125
Name: Field_info3, dtype: int64

 Field_info4 Field_info4
N    96756
Y     7545
Name: Field_info4, dtype: int64

 Geographic_info1 Geographic_info1
-1         1
 1      3408
 2     34711
 3       367
 4     27399
 5       370
 6       204
 7       287
 8       273
 9      9187
 10     1028
 11     2556
 12      493
 13     1799
 14     8305
 15     1426
 16       85
 17      578
 18      657
 19      563
 20      337
 21      196
 22      312
 23      450
 24     6384
 25     2925
Name: Geographic_info1, dtype: int64

 Geographic_info2 Geographic_info2
-1         1
 4     16633
 5      3896
 6      4467
 7      4176
 8      4112
 9      4296
 10     4152
 11     4248
 12     4203
 13     4132
 14     4063
 15     4217
 16     4127
 17     4179
 18     4129
 19     4134
 20     4159
 21     3988
 22     4436
 23     4075
 24     4288
 25     4190
Name: Geographic_info2, dtype: int64

 Geographic_info3 Geographic_info3
-1     101740
 25      2561
Name: Geographic_info3, dtype: int64

 Geographic_info4 Geographic_info4
          1
N    101898
Y      2402
Name: Geographic_info4, dtype: int64

 Geographic_info5 Geographic_info5
CA    38081
IL    12756
NJ    27646
TX    25818
Name: Geographic_info5, dtype: int64

 Original_Quote_Date Original_Quote_Date
1/01/2013      20
1/01/2014      55
1/01/2015      63
1/02/2013     113
1/02/2014      90
1/02/2015      39
1/03/2013     115
1/03/2014     123
1/03/2015      80
1/04/2013     118
1/04/2014     197
1/04/2015     183
1/05/2013     127
1/05/2014     126
1/05/2015     149
1/06/2013      74
1/06/2014      56
1/07/2013     191
1/07/2014     205
1/08/2013     186
1/08/2014     124
1/09/2013      68
1/09/2014      52
1/10/2013     180
1/10/2014     140
1/11/2013     126
1/11/2014      65
1/12/2013      29
1/12/2014     135
10/01/2013     89
             ...
8/12/2014     116
9/01/2013      93
9/01/2014     123
9/01/2015     166
9/02/2013      62
9/02/2014      57
9/02/2015     130
9/03/2013      67
9/03/2014      89
9/03/2015     213
9/04/2013     159
9/04/2014     141
9/04/2015     140
9/05/2013     139
9/05/2014     127
9/05/2015      74
9/06/2013      60
9/06/2014     171
9/07/2013     220
9/07/2014     178
9/08/2013     162
9/08/2014      64
9/09/2013     211
9/09/2014     167
9/10/2013     146
9/10/2014     106
9/11/2013      63
9/11/2014      56
9/12/2013      99
9/12/2014     116
Name: Original_Quote_Date, Length: 868, dtype: int64

 Personal_info1 Personal_info1
N    103766
Y       489
Name: Personal_info1, dtype: int64

 Personal_info2 Personal_info2
-1     21913
 1      2059
 2       433
 3       991
 4      6362
 5     16877
 6     15791
 7      9584
 8      3977
 9      2323
 10     2025
 11     1703
 12     1737
 13     1532
 14     1551
 15     1499
 16     1569
 17     1316
 18     1271
 19     1190
 20     1122
 21     1269
 22     1242
 23     1438
 24     1415
 25     2112
Name: Personal_info2, dtype: int64

 Personal_info3 Personal_info3
XB     2713
XC      524
XD     3203
XE      975
XF        2
XH     3033
XI      372
XJ     3948
XK       55
XL      167
XM     3839
XO     2759
XP      107
XQ      978
XR     6087
XS     1793
XT        1
XW     1054
XX     3090
XY        1
XZ      253
YE     1169
YF     1529
YH     2583
YI       97
ZA    49819
ZB        3
ZC      763
ZD      345
ZE      293
ZF     1952
ZG     1146
ZH     2251
ZJ      233
ZK      371
ZN     1794
ZP        1
ZR     1796
ZT     2202
ZU      108
ZV        1
ZW      891
Name: Personal_info3, dtype: int64

 Personal_info4 Personal_info4
0    104225
1        55
2        14
3         4
4         1
6         1
7         1
Name: Personal_info4, dtype: int64

 Personal_info5 Personal_info5
1.0      609
2.0    54150
3.0        3
5.0       26
7.0        1
Name: Personal_info5, dtype: int64

 Property_info1 Property_info1
N    90810
Y    13460
Name: Property_info1, dtype: int64

 Property_info2 Property_info2
0    104301
Name: Property_info2, dtype: int64

 Property_info3 Property_info3
A     1588
B        1
C        1
D    11256
E      346
F      198
G       59
H      568
I     3587
J    14185
K      736
L      267
M       12
N     4818
O    29873
P        3
Q     2334
R    27650
S     6819
Name: Property_info3, dtype: int64

 Property_info4 Property_info4
0    34956
1    69345
Name: Property_info4, dtype: int64

 Property_info5 Property_info5
-1       10
 1     4147
 2     4215
 3     4204
 4     4196
 5     4147
 6     4109
 7     4067
 8     4154
 9     4295
 10    4143
 11    4204
 12    4226
 13    4204
 14    4209
 15    4134
 16    4103
 17    4166
 18    4147
 19    4187
 20    4114
 21    4190
 22    4205
 23    4169
 24    4248
 25    4108
Name: Property_info5, dtype: int64

 QuoteConversion_Flag QuoteConversion_Flag
0.0    63315
1.0    14910
Name: QuoteConversion_Flag, dtype: int64

 Quote_ID Quote_ID
1        2
2        2
3        2
4        2
5        2
6        2
7        2
8        2
9        2
10       2
11       2
12       2
13       2
14       2
15       2
16       2
17       2
18       2
19       2
20       2
21       2
22       2
23       2
24       2
25       2
26       2
27       2
28       2
29       2
30       2
        ..
78196    1
78197    1
78198    1
78199    1
78200    1
78201    1
78202    1
78203    1
78204    1
78205    1
78206    1
78207    1
78208    1
78209    1
78210    1
78211    1
78212    1
78213    1
78214    1
78215    1
78216    1
78217    1
78218    1
78219    1
78220    1
78221    1
78222    1
78223    1
78224    1
78225    1
Name: Quote_ID, Length: 78225, dtype: int64

 Sales_info1 Sales_info1
0    26656
1    77645
Name: Sales_info1, dtype: int64

 Sales_info2 Sales_info2
1        2
2     5180
3    25369
4    14591
5    59159
Name: Sales_info2, dtype: int64

 Sales_info3 Sales_info3
1      5646
2         3
3       491
4      5048
5         5
6         5
7      5773
8       853
9        10
10     1000
11    35674
12        9
13       34
14     2467
15     3161
16     1044
17     3365
18      219
19        1
20    25880
21     3713
22     1817
23     6420
24     1663
Name: Sales_info3, dtype: int64

 Sales_info4 Sales_info4
K    20015
M     6488
P    19786
Q    16367
R     8196
T    18110
V    15339
Name: Sales_info4, dtype: int64

 Sales_info5 Sales_info5
4        1
5        2
6        2
8        2
9        3
10       1
12       2
14       4
17       1
18       2
19       3
20       1
21       2
22       3
23       1
24       4
27       1
28       1
29       3
30       2
31       1
32       1
33       2
34       1
35       1
36       6
37       1
39       2
40       4
42       1
        ..
67120    2
67122    2
67123    1
67124    3
67125    2
67126    3
67127    4
67128    4
67130    1
67131    1
67132    3
67135    3
67136    2
67138    6
67142    1
67143    1
67144    2
67145    1
67146    1
67148    1
67149    1
67150    2
67154    2
67155    1
67156    3
67157    3
67158    1
67161    1
67162    3
67164    2
Name: Sales_info5, Length: 45889, dtype: int64

 source source
test     26076
train    78225
Name: source, dtype: int64

In [6]:
for col in ['Personal_info2', 'Personal_info3', 'Personal_info4', 'Personal_info5']:
    gf = df.groupby('Personal_info1')[col].unique()
    print ('\n',col, gf)

 Personal_info2 Personal_info1
N    [11, -1, 1, 21, 7, 15, 4, 6, 13, 20, 24, 17, 5...
Y    [3, 22, -1, 7, 24, 5, 10, 6, 1, 9, 4, 12, 19, ...
Name: Personal_info2, dtype: object

 Personal_info3 Personal_info1
N    [ZA, XX, ZN, ZH, YH, YF, ZC, ZG, XE, XQ, XR, X...
Y    [XB, ZA, XX, YF, XM, ZH, XR, XQ, ZG, ZT, ZE, X...
Name: Personal_info3, dtype: object

 Personal_info4 Personal_info1
N    [0, 3, 1, 2, 6, 4, 7]
Y                      [0]
Name: Personal_info4, dtype: object

 Personal_info5 Personal_info1
N    [2.0, nan, 1.0, 5.0, 3.0, 7.0]
Y                   [nan, 2.0, 1.0]
Name: Personal_info5, dtype: object

In [7]:
missing = df[df['Personal_info1'].isnull()].index.tolist()

In [8]:
for i in missing:    
    val = (df[df['Personal_info2'] == df.loc[i,'Personal_info2']]['Personal_info1'].mode()).values
    df.loc[i,'Personal_info1'] = val[0]
    
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104301 entries, 0 to 104300
Data columns (total 31 columns):
Coverage_info1          104301 non-null int64
Coverage_info2          104301 non-null int64
Coverage_info3          104301 non-null object
Field_info1             104301 non-null object
Field_info2             104301 non-null float64
Field_info3             104301 non-null object
Field_info4             104301 non-null object
Geographic_info1        104301 non-null int64
Geographic_info2        104301 non-null int64
Geographic_info3        104301 non-null int64
Geographic_info4        104301 non-null object
Geographic_info5        104301 non-null object
Original_Quote_Date     104301 non-null object
Personal_info1          104301 non-null object
Personal_info2          104301 non-null int64
Personal_info3          104301 non-null object
Personal_info4          104301 non-null int64
Personal_info5          54789 non-null float64
Property_info1          104270 non-null object
Property_info2          104301 non-null int64
Property_info3          104301 non-null object
Property_info4          104301 non-null int64
Property_info5          104301 non-null int64
QuoteConversion_Flag    78225 non-null float64
Quote_ID                104301 non-null int64
Sales_info1             104301 non-null int64
Sales_info2             104301 non-null int64
Sales_info3             104301 non-null int64
Sales_info4             104301 non-null object
Sales_info5             104301 non-null int64
source                  104301 non-null object
dtypes: float64(3), int64(15), object(13)
memory usage: 24.7+ MB

In [9]:
for col in ['Personal_info1', 'Personal_info2', 'Personal_info3', 'Personal_info4']:
    gf = df.groupby('Personal_info5')[col].unique()
    print ('\n',col, gf)

 Personal_info1 Personal_info5
1.0    [N, Y]
2.0    [N, Y]
3.0       [N]
5.0       [N]
7.0       [N]
Name: Personal_info1, dtype: object

 Personal_info2 Personal_info5
1.0    [4, 5, 6, 3, 7, 12, 11, -1, 10, 8, 19, 16, 24,...
2.0    [11, 1, -1, 21, 7, 4, 6, 24, 5, 14, 12, 3, 8, ...
3.0                                          [20, 5, 11]
5.0          [14, 5, 6, 7, 19, 25, 10, 21, -1, 4, 9, 11]
7.0                                                 [14]
Name: Personal_info2, dtype: object

 Personal_info3 Personal_info5
1.0    [ZA, YE, XR, XS, ZT, ZN, YH, XB, XH, ZH, XX, Y...
2.0    [ZA, XE, ZW, XW, XH, XD, XS, XR, XJ, YE, XX, Z...
3.0                                         [XO, ZN, ZH]
5.0    [ZF, XR, XX, XD, XW, XJ, YH, YE, XL, YF, XE, X...
7.0                                                 [ZC]
Name: Personal_info3, dtype: object

 Personal_info4 Personal_info5
1.0          [0, 1, 4, 3]
2.0    [0, 3, 1, 2, 6, 7]
3.0                   [0]
5.0                   [0]
7.0                   [0]
Name: Personal_info4, dtype: object

In [10]:
missing = df[df['Personal_info5'].isnull()].index.tolist()

for i in missing:
    val = (df[df['Personal_info1'] == df.loc[i,'Personal_info1']]['Personal_info5'].mode()).values
    df.loc[i,'Personal_info5'] = val[0]
    
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104301 entries, 0 to 104300
Data columns (total 31 columns):
Coverage_info1          104301 non-null int64
Coverage_info2          104301 non-null int64
Coverage_info3          104301 non-null object
Field_info1             104301 non-null object
Field_info2             104301 non-null float64
Field_info3             104301 non-null object
Field_info4             104301 non-null object
Geographic_info1        104301 non-null int64
Geographic_info2        104301 non-null int64
Geographic_info3        104301 non-null int64
Geographic_info4        104301 non-null object
Geographic_info5        104301 non-null object
Original_Quote_Date     104301 non-null object
Personal_info1          104301 non-null object
Personal_info2          104301 non-null int64
Personal_info3          104301 non-null object
Personal_info4          104301 non-null int64
Personal_info5          104301 non-null float64
Property_info1          104270 non-null object
Property_info2          104301 non-null int64
Property_info3          104301 non-null object
Property_info4          104301 non-null int64
Property_info5          104301 non-null int64
QuoteConversion_Flag    78225 non-null float64
Quote_ID                104301 non-null int64
Sales_info1             104301 non-null int64
Sales_info2             104301 non-null int64
Sales_info3             104301 non-null int64
Sales_info4             104301 non-null object
Sales_info5             104301 non-null int64
source                  104301 non-null object
dtypes: float64(3), int64(15), object(13)
memory usage: 24.7+ MB

In [11]:
for col in ['Property_info3', 'Property_info4', 'Property_info5']:
    gf = df.groupby('Property_info1')[col].unique()
    print ('\n', gf)
    
missing = df[df['Property_info1'].isnull()].index.tolist()

for i in missing:
    val = (df[df['Property_info3'] == df.loc[i,'Property_info3']]['Property_info1'].mode()).values
    df.loc[i,'Property_info1'] = val[0]
    
df.info()

 Property_info1
N    [S, R, O, Q, D, J, N, H, I, A, K, F, E, M, G, ...
Y        [O, I, R, S, N, J, D, Q, K, H, E, A, F, L, G]
Name: Property_info3, dtype: object

 Property_info1
N    [0, 1]
Y    [1, 0]
Name: Property_info4, dtype: object

 Property_info1
N    [7, 16, 3, 24, 22, 13, 1, 10, 11, 5, 19, 4, 12...
Y    [23, 13, 10, 12, 4, 20, 22, 24, 16, 25, 3, 17,...
Name: Property_info5, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104301 entries, 0 to 104300
Data columns (total 31 columns):
Coverage_info1          104301 non-null int64
Coverage_info2          104301 non-null int64
Coverage_info3          104301 non-null object
Field_info1             104301 non-null object
Field_info2             104301 non-null float64
Field_info3             104301 non-null object
Field_info4             104301 non-null object
Geographic_info1        104301 non-null int64
Geographic_info2        104301 non-null int64
Geographic_info3        104301 non-null int64
Geographic_info4        104301 non-null object
Geographic_info5        104301 non-null object
Original_Quote_Date     104301 non-null object
Personal_info1          104301 non-null object
Personal_info2          104301 non-null int64
Personal_info3          104301 non-null object
Personal_info4          104301 non-null int64
Personal_info5          104301 non-null float64
Property_info1          104301 non-null object
Property_info2          104301 non-null int64
Property_info3          104301 non-null object
Property_info4          104301 non-null int64
Property_info5          104301 non-null int64
QuoteConversion_Flag    78225 non-null float64
Quote_ID                104301 non-null int64
Sales_info1             104301 non-null int64
Sales_info2             104301 non-null int64
Sales_info3             104301 non-null int64
Sales_info4             104301 non-null object
Sales_info5             104301 non-null int64
source                  104301 non-null object
dtypes: float64(3), int64(15), object(13)
memory usage: 24.7+ MB

In [12]:
df['Original_Quote_Days'] = pd.to_datetime(df['Original_Quote_Date'], format='%d/%m/%Y')
today = np.datetime64(date.today())

df['Original_Quote_Days'] = (today-df['Original_Quote_Days']).astype(str)
df['Original_Quote_Days'] = df['Original_Quote_Days'].map(lambda x: x.replace(' days 00:00:00.000000000', ""))
df['Original_Quote_Days'] = df['Original_Quote_Days'].astype(int)

In [13]:
df = pd.get_dummies(df, columns=["Geographic_info4", "Property_info1", "Personal_info1", 'Geographic_info5', "Field_info1", "Field_info3", 'Field_info4',	'Coverage_info3',	'Sales_info4',	'Personal_info3',"Property_info3"])

In [14]:
df.drop(['Property_info2',"Original_Quote_Date"], axis=1, inplace=True)

In [15]:
df_train = df.loc[df['source'] == "train"]
df_test = df.loc[df['source'] == "test"]

In [16]:
X_enc_obj = df_train.drop(["QuoteConversion_Flag", "source"], axis=1)
X_enc_targets = df_train['QuoteConversion_Flag']

X_enc_test_obj = df_test.drop(["QuoteConversion_Flag", "source"], axis=1)

In [17]:
from sklearn.model_selection import train_test_split


train_x, test_x, train_y, test_y = train_test_split(X_enc_obj, X_enc_targets, test_size=0.3)

In [18]:
df_train.iloc[:,1:50].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78225 entries, 0 to 78224
Data columns (total 49 columns):
Coverage_info2          78225 non-null int64
Field_info2             78225 non-null float64
Geographic_info1        78225 non-null int64
Geographic_info2        78225 non-null int64
Geographic_info3        78225 non-null int64
Personal_info2          78225 non-null int64
Personal_info4          78225 non-null int64
Personal_info5          78225 non-null float64
Property_info4          78225 non-null int64
Property_info5          78225 non-null int64
QuoteConversion_Flag    78225 non-null float64
Quote_ID                78225 non-null int64
Sales_info1             78225 non-null int64
Sales_info2             78225 non-null int64
Sales_info3             78225 non-null int64
Sales_info5             78225 non-null int64
source                  78225 non-null object
Original_Quote_Days     78225 non-null int64
Geographic_info4_       78225 non-null uint8
Geographic_info4_N      78225 non-null uint8
Geographic_info4_Y      78225 non-null uint8
Property_info1_N        78225 non-null uint8
Property_info1_Y        78225 non-null uint8
Personal_info1_N        78225 non-null uint8
Personal_info1_Y        78225 non-null uint8
Geographic_info5_CA     78225 non-null uint8
Geographic_info5_IL     78225 non-null uint8
Geographic_info5_NJ     78225 non-null uint8
Geographic_info5_TX     78225 non-null uint8
Field_info1_A           78225 non-null uint8
Field_info1_B           78225 non-null uint8
Field_info1_C           78225 non-null uint8
Field_info1_D           78225 non-null uint8
Field_info1_E           78225 non-null uint8
Field_info1_F           78225 non-null uint8
Field_info1_J           78225 non-null uint8
Field_info1_K           78225 non-null uint8
Field_info3_1,113       78225 non-null uint8
Field_info3_1,165       78225 non-null uint8
Field_info3_1,480       78225 non-null uint8
Field_info3_1,487       78225 non-null uint8
Field_info3_548         78225 non-null uint8
Field_info3_564         78225 non-null uint8
Field_info3_935         78225 non-null uint8
Field_info3_965         78225 non-null uint8
Field_info4_N           78225 non-null uint8
Field_info4_Y           78225 non-null uint8
Coverage_info3_A        78225 non-null uint8
Coverage_info3_B        78225 non-null uint8
dtypes: float64(3), int64(14), object(1), uint8(31)
memory usage: 13.7+ MB

In [19]:
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import GridSearchCV

# Create logistic regression
logr = LogisticRegression()

In [20]:
# Create regularization penalty space
penalty = ['l1', 'l2']

max_iter = [300, 500, 700]
# Create regularization hyperparameter space
C = np.logspace(0, 4, 10)

# Create hyperparameter options
hyperparameters = dict(C=C, penalty=penalty, max_iter=max_iter)

# Create grid search using 5-fold cross validation
logr_gs = GridSearchCV(logr, hyperparameters, cv=5, verbose=0)

In [21]:
# Fit grid search
best_model = logr_gs.fit(train_x, train_y)

# View best hyperparameters
print('Best Penalty:', best_model.best_estimator_.get_params()['penalty'])
print('Best C:', best_model.best_estimator_.get_params()['C'])

# Predict target vector
best_model.score(test_x, test_y)

Best Penalty: l2
Best C: 1.0

0.8093148116584284

In [22]:
# Load libraries
from sklearn.ensemble import RandomForestClassifier

# Create random forest classifer object that uses entropy
rf = RandomForestClassifier(oob_score=True)

# Train model
rf.fit(train_x, train_y)

print("Training score:", rf.score(train_x, train_y))
print("Out-of-Bag Score:", rf.oob_score_)
print("Testing score", rf.score(test_x,test_y))

rf.score(test_x, test_y)
pred_test = rf.predict(test_x)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:460: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:465: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

Training score: 0.9885676717132056
Out-of-Bag Score: 0.8196577606516062
Testing score 0.8338588716550196

In [23]:
from sklearn import ensemble

gb = ensemble.GradientBoostingClassifier(n_estimators=500,
                                             random_state=0)
gb.fit(train_x, train_y)


print("Gradient Boosting Tree Training Score:", gb.score(train_x, train_y))
print("Gradient Boosting Tree Testing Score:", gb.score(test_x, test_y))
print("Gradient Boosting estimators:", gb.n_estimators_)

Gradient Boosting Tree Training Score: 0.8679986120496009
Gradient Boosting Tree Testing Score: 0.8550792568604056
Gradient Boosting estimators: 500

In [24]:
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score


feat_labels = df_train.columns.tolist()

# Print the name and gini importance of each feature
for feature in zip(feat_labels, rf.feature_importances_):
    print(feature)
    
# Create a selector object that will use the random forest classifier to identify
# features that have an importance of more than 0.15
sfm = SelectFromModel(rf, threshold=0.01)

# Train the selector
sfm.fit(train_x, train_y)

('Coverage_info1', 0.054975993832959945)
('Coverage_info2', 0.01751142114159131)
('Field_info2', 0.021932424404471008)
('Geographic_info1', 0.01738883168461209)
('Geographic_info2', 0.03692151966872823)
('Geographic_info3', 0.003014158494482598)
('Personal_info2', 0.12175447669154187)
('Personal_info4', 0.0005245618977347036)
('Personal_info5', 0.003429962794178504)
('Property_info4', 0.013312887231089006)
('Property_info5', 0.05431957598428319)
('QuoteConversion_Flag', 0.06848737055389709)
('Quote_ID', 0.013835759800589594)
('Sales_info1', 0.09998517005411543)
('Sales_info2', 0.03813385955369956)
('Sales_info3', 0.0695842271372382)
('Sales_info5', 0.06818422768566489)
('source', 0.0)
('Original_Quote_Days', 0.0018840945088205627)
('Geographic_info4_ ', 0.0018190698269733305)
('Geographic_info4_N', 0.007556680114138496)
('Geographic_info4_Y', 0.007129881300037295)
('Property_info1_N', 0.0008119696449706623)
('Property_info1_Y', 0.0006199791945706411)
('Personal_info1_N', 0.0006360776280760258)
('Personal_info1_Y', 0.0007252089838622901)
('Geographic_info5_CA', 0.008970283334933543)
('Geographic_info5_IL', 0.0004830606503161778)
('Geographic_info5_NJ', 5.354666778844824e-05)
('Geographic_info5_TX', 0.0032025823046083553)
('Field_info1_A', 0.00023050849510154224)
('Field_info1_B', 0.00024926907349906994)
('Field_info1_C', 0.0009302867965532663)
('Field_info1_D', 0.011228713630930622)
('Field_info1_E', 0.0013192806792569976)
('Field_info1_F', 0.0003575687092529433)
('Field_info1_J', 0.002750576156776255)
('Field_info1_K', 0.0012121664283724607)
('Field_info3_1,113', 0.0006026039776153084)
('Field_info3_1,165', 0.0012835219659255923)
('Field_info3_1,480', 0.0019900059045558226)
('Field_info3_1,487', 0.003810952699155325)
('Field_info3_548', 0.005797285722353642)
('Field_info3_564', 0.003442809368281917)
('Field_info3_935', 0.0005891258690013974)
('Field_info3_965', 0.000724836755729626)
('Field_info4_N', 0.0018196044928770721)
('Field_info4_Y', 0.0005341435775137464)
('Coverage_info3_A', 0.0003004318394366957)
('Coverage_info3_B', 0.00849376131998725)
('Coverage_info3_C', 0.024647953789280298)
('Coverage_info3_D', 0.003560672292564462)
('Coverage_info3_E', 0.0027261338335028942)
('Coverage_info3_F', 0.00028608278813438724)
('Coverage_info3_G', 8.686319639831001e-05)
('Coverage_info3_H', 0.0063541533354186976)
('Coverage_info3_I', 0.006664762250450647)
('Coverage_info3_J', 5.798685181657252e-05)
('Coverage_info3_K', 0.010459829488597281)
('Coverage_info3_L', 0.004468282553850716)
('Sales_info4_K', 0.010225570630657028)
('Sales_info4_M', 0.008792225365592878)
('Sales_info4_P', 0.006268565312922)
('Sales_info4_Q', 0.009421301225679113)
('Sales_info4_R', 0.009775934565245526)
('Sales_info4_T', 0.003410452342062105)
('Sales_info4_V', 0.0010253867466143744)
('Personal_info3_XB', 0.0038700157474115156)
('Personal_info3_XC', 0.0016316687856200787)
('Personal_info3_XD', 0.0)
('Personal_info3_XE', 0.002539732710122702)
('Personal_info3_XF', 0.0005929883851123013)
('Personal_info3_XH', 0.004068323101931671)
('Personal_info3_XI', 0.00022350162215840108)
('Personal_info3_XJ', 0.00042020053469104743)
('Personal_info3_XK', 0.0051197311092219325)
('Personal_info3_XL', 0.0022658144178265933)
('Personal_info3_XM', 0.0004726505392733265)
('Personal_info3_XO', 0.0017273935097486457)
('Personal_info3_XP', 0.005259548408522216)
('Personal_info3_XQ', 0.0022824638767103976)
('Personal_info3_XR', 0.0)
('Personal_info3_XS', 0.0015612652781203567)
('Personal_info3_XT', 0.0027689062151566553)
('Personal_info3_XW', 2.835978560347628e-05)
('Personal_info3_XX', 0.0007860527529764236)
('Personal_info3_XY', 0.0020010707321840553)
('Personal_info3_XZ', 0.0023605605886550074)
('Personal_info3_YE', 0.0026264931357844906)
('Personal_info3_YF', 0.00027321303145343)
('Personal_info3_YH', 0.002884555769807977)
('Personal_info3_YI', 0.0)
('Personal_info3_ZA', 0.0012441179078809337)
('Personal_info3_ZB', 0.0005924830004553229)
('Personal_info3_ZC', 0.000400354790668708)
('Personal_info3_ZD', 0.0025277609925781846)
('Personal_info3_ZE', 0.0018438640193496805)
('Personal_info3_ZF', 0.002463887451304563)
('Personal_info3_ZG', 0.0006088359375104168)
('Personal_info3_ZH', 0.0009174105016203269)
('Personal_info3_ZJ', 0.002377689274964101)
('Personal_info3_ZK', 3.237991747961638e-05)
('Personal_info3_ZN', 0.002758870531241733)
('Personal_info3_ZP', 0.0030069157462474013)
('Personal_info3_ZR', 0.0002951858512833549)
('Personal_info3_ZT', 9.792460564519323e-06)
('Personal_info3_ZU', 0.001735874648721336)
('Personal_info3_ZV', 0.0020490574098148456)
('Personal_info3_ZW', 0.0)
('Property_info3_A', 0.0)
('Property_info3_B', 0.00676436341919904)
('Property_info3_C', 0.0007296642114919785)
('Property_info3_D', 8.949093118556461e-05)
('Property_info3_E', 9.569026565737601e-05)
('Property_info3_F', 0.001002060484238314)
('Property_info3_G', 0.0024722514491411353)
('Property_info3_H', 0.004260928170597728)
('Property_info3_I', 0.0012027147151395716)
('Property_info3_J', 0.0003263694087735413)
('Property_info3_K', 1.8492183985880962e-05)
('Property_info3_L', 0.003631748716620439)
('Property_info3_M', 0.005647346924989427)
('Property_info3_N', 0.0)
('Property_info3_O', 0.001444242407564543)
('Property_info3_P', 0.007584027050051588)
('Property_info3_Q', 0.0030131463806490357)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:460: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:465: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

SelectFromModel(estimator=RandomForestClassifier(bootstrap=True,
                                                 class_weight=None,
                                                 criterion='gini',
                                                 max_depth=None,
                                                 max_features='auto',
                                                 max_leaf_nodes=None,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=1,
                                                 min_samples_split=2,
                                                 min_weight_fraction_leaf=0.0,
                                                 n_estimators=10, n_jobs=None,
                                                 oob_score=True,
                                                 random_state=None, verbose=0,
                                                 warm_start=False),
                max_features=None, norm_order=1, prefit=False, threshold=0.01)

In [25]:
for feature_list_index in sfm.get_support(indices=True):
    print(feat_labels[feature_list_index])
    
# Transform the data to create a new dataset containing only the most important features
# Note: We have to apply the transform to both the training X and test X data.
X_important_train = sfm.transform(train_x)
X_important_test = sfm.transform(test_x)

from sklearn.ensemble import RandomForestClassifier
# Create a new random forest classifier for the most important features
clf_important = RandomForestClassifier(n_estimators=10, random_state=0, n_jobs=-1)

# Train the new classifier on the new dataset containing the most important features
clf_important.fit(X_important_train, train_y)

Coverage_info1
Coverage_info2
Field_info2
Geographic_info1
Geographic_info2
Personal_info2
Property_info4
Property_info5
QuoteConversion_Flag
Quote_ID
Sales_info1
Sales_info2
Sales_info3
Sales_info5
Coverage_info3_C
Coverage_info3_K

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [26]:
# Apply The Full Featured Classifier To The Test Data
y_pred = rf.predict(test_x)

# View The Accuracy Of Our Full Feature (4 Features) Model
accuracy_score(test_y, y_pred)

# Apply The Full Featured Classifier To The Test Data
y_important_pred = clf_important.predict(X_important_test)

# View The Accuracy Of Our Limited Feature (2 Features) Model
accuracy_score(test_y, y_important_pred)

0.8328788137037668

In [27]:
from sklearn.linear_model import RidgeClassifier

rgc = RidgeClassifier(alpha=100.0, solver='auto', max_iter=200, normalize=True)
rgc.fit(train_x, train_y)
print(rgc.score(train_x, train_y))

print(rgc.score(test_x, test_y))
rgc.fit(X_important_train, train_y)

0.809357707690341
0.809485256519516

RidgeClassifier(alpha=100.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=200, normalize=True, random_state=None, solver='auto',
                tol=0.001)

In [28]:
tuned_parameters = [{'solver': ['auto', 'sparse_cg', 'lsqr', 'sag'],
                     'class_weight': 'balanced'}]
                    
scores = ['precision', 'recall']
alphas = np.array([1,0.1,0.01,0.001,0.0001,0])
model = RidgeClassifier(normalize=True, random_state=100, tol=0.1)

In [29]:
rgc_gs = GridSearchCV(estimator=model, param_grid=dict(alpha=alphas))
rgc_gs.fit(train_x, train_y)
print("Best parameters set found on development set:")
print(rgc_gs.best_params_)
print("Best Test score for this model")
print(rgc_gs.score(test_x, test_y))

Best parameters set found on development set:
{'alpha': 1.0}
Best Test score for this model
0.8096983125958752

In [30]:
rgc_gs.fit(X_important_train, train_y)
print("Best parameters set found on development set:")
print(rgc_gs.best_params_)
print("Best Test score for this model")
print(rgc_gs.score(X_important_test, test_y))

Best parameters set found on development set:
{'alpha': 1.0}
Best Test score for this model
0.809485256519516

In [31]:
from sklearn.neural_network import MLPClassifier
nn = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(256, 1), validation_fraction=0.3, early_stopping=False, random_state=1)
nn.fit(train_x, train_y)

print(nn.score(train_x, train_y))
print(nn.score(test_x, test_y))

0.809357707690341
0.809485256519516

In [32]:
nn2 = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(256, 1), validation_fraction=0.3, early_stopping=True, random_state=1)
nn2.fit(X_important_train, train_y)
print(nn2.score(X_important_train, train_y))
print(nn2.score(X_important_test, test_y))

gb2 = ensemble.GradientBoostingClassifier(n_estimators=500,
                                             random_state=0)
gb2.fit(X_important_train, train_y)


print("Gradient Boosting Tree Score:", gb2.score(X_important_test, test_y))
print("Gradient Boosting estimators:", gb2.n_estimators_)

0.809357707690341
0.809485256519516
Gradient Boosting Tree Score: 0.8514573035622977
Gradient Boosting estimators: 500

In [33]:
from imblearn.over_sampling import SMOTE, ADASYN

X_resampled, y_resampled = SMOTE().fit_resample(X_enc_obj, X_enc_targets)

from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(X_resampled, y_resampled, test_size=0.3, random_state=2)
print("Size of training data:", xtrain.shape, ytrain.shape)
print("Size of testing data", xtest.shape, ytest.shape)

Size of training data: (88641, 126) (88641,)
Size of testing data (37989, 126) (37989,)

In [34]:
nn.fit(xtrain, ytrain)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(256, 1), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=1, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.3, verbose=False, warm_start=False)

In [35]:
nn.score(xtrain, ytrain)

0.5010322536974989

In [36]:
nn.score(xtest, ytest)

0.49759140803916924

In [37]:
rgc_gs.fit(xtrain, ytrain)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RidgeClassifier(alpha=1.0, class_weight=None,
                                       copy_X=True, fit_intercept=True,
                                       max_iter=None, normalize=True,
                                       random_state=100, solver='auto',
                                       tol=0.1),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([1.e+00, 1.e-01, 1.e-02, 1.e-03, 1.e-04, 0.e+00])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [38]:
rgc_gs.score(xtrain, ytrain)

0.7587797971593281

In [39]:
rgc_gs.score(xtest, ytest)

0.759772565742715

In [40]:
gb.fit(xtrain, ytrain)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=500,
                           n_iter_no_change=None, presort='auto',
                           random_state=0, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [41]:
gb.score(xtrain, ytrain)

0.916280276621428

In [42]:
gb.score(xtest, ytest)

0.9118165784832452

In [43]:
y_pred = gb.predict(X_enc_test_obj)

In [44]:
rf.fit(xtrain, ytrain)
print("Balanced Dataset Training score:", rf.score(xtrain, ytrain))
print("Balanced Dataset Out-Of-Bag score:", rf.oob_score_)
print("Balanced Dataset Testing score:", rf.score(xtest, ytest))

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:460: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:465: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

Balanced Dataset Training score: 0.9931295901445155
Balanced Dataset Out-Of-Bag score: 0.8793447727349646
Balanced Dataset Testing score: 0.8962067967043091

In [45]:
df_test.head()

,Coverage_info1,Coverage_info2,Field_info2,Geographic_info1,Geographic_info2,Geographic_info3,Personal_info2,Personal_info4,Personal_info5,Property_info4,...,Property_info3_J,Property_info3_K,Property_info3_L,Property_info3_M,Property_info3_N,Property_info3_O,Property_info3_P,Property_info3_Q,Property_info3_R,Property_info3_S
78225,11,22,0.9685,4,19,-1,13,0,2.0,1,...,0,0,0,0,0,0,0,0,1,0
78226,7,22,0.9153,2,13,-1,-1,0,2.0,1,...,0,0,0,0,0,0,0,0,0,0
78227,21,22,0.9566,4,21,-1,-1,0,2.0,1,...,0,0,0,0,0,0,0,1,0,0
78228,25,22,0.9403,2,4,-1,13,0,2.0,0,...,0,0,0,0,0,1,0,0,0,0
78229,4,22,0.8870,18,4,-1,18,0,2.0,1,...,0,0,0,0,0,0,0,0,0,0

In [46]:
y_preds = gb.predict(xtest)

In [47]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import brier_score_loss
from sklearn.metrics import f1_score
from sklearn.metrics import jaccard_score
print("Berier Score Loss:", brier_score_loss(ytest, y_preds))
print("F1 Score", f1_score(ytest, y_preds))
print("Jaccard Score", jaccard_score(ytest, y_preds))
print("Mean Squared Error", mean_squared_error(ytest, y_preds))
print("Balanced Accuracy Score", balanced_accuracy_score(ytest, y_preds))
print("Accuracy Score", accuracy_score(ytest, y_preds))

Berier Score Loss: 0.08818342151675485
F1 Score 0.9096060442525634
Jaccard Score 0.834199455580302
Mean Squared Error 0.08818342151675485
Balanced Accuracy Score 0.9117199336116648
Accuracy Score 0.9118165784832452

In [48]:
df_result = pd.read_csv('Solution.csv')

In [49]:
df_result["QuoteConversion_Flag"] = y_pred

In [50]:
df_result.to_csv('Solution.csv')